{% if session.get('cash_overridden') %}
<!-- Update Reset Button Visibility OOB -->
<div id="cash-received-section" hx-swap-oob="true" class="mb-3">
    <div class="input-group">
        <span class="input-group-text">Recibido</span>
        <input type="text" id="amount_received" class="form-control no-spinner text-end" name="amount_received_display"
            inputmode="numeric" value="{{ session.get('cash_amount')|int|num_ar }}"
            onfocus="if(this.value === '0' || this.value === '0.00') this.value = '';" placeholder="Monto recibido">


    </div>
    <div id="change-display" class="text-end mt-1 fw-bold" style="display: block;">
        <span id="change-label">Vuelto</span>: $<span id="change-amount">{{ (session.get('cash_amount')|float -
            totals.total|float)|money_ar
            }}</span>
    </div>
</div>

<!-- Update Hidden Input OOB -->
<input type="hidden" name="payments[0][amount_received]" id="payment-received-input"
    value="{{ session.get('cash_amount') }}" hx-swap-oob="true">

{% else %}
<!-- Reset or Sync State -->
{% include 'sales/_cart_content_draft.html' %}
{% endif %}