{% if session.get('cash_overridden') %}
<!-- Update visible input OOB -->
<div id="change-display" hx-swap-oob="true" class="text-end mt-1 mb-2 fw-bold"
    style="display: block; font-size: 0.85rem;">
    <span id="change-label">Vuelto</span>: $<span id="change-amount">{{ (session.get('cash_amount')|float -
        totals.total|float)|money_ar
        }}</span>
</div>

<!-- Update Hidden Input OOB -->
<input type="hidden" name="payments[0][amount_received]" id="payment-received-input-0"
    value="{{ session.get('cash_amount') }}" hx-swap-oob="true">

{% else %}
<!-- Reset or Sync State -->
{% include 'sales/_cart_content_draft.html' %}
{% endif %}